
* {
    font-family: 'Pretendard', sans-serif;
    box-sizing: border-box;
  }
  
  body {
    font-size: 14px;
  }

  .jobDetailPage {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  
  .detailCard {
    width: 80%;
    max-width: 800px;
    padding: 20px;
    border: 2px solid #F4A950;
    border-radius: 10px;
    box-shadow: 20px 20px 10px #FEFFD8;
  }
  
  .userHeader {
    display: flex;
    align-items: flex-start;
    border-bottom: 2px solid #F4A950;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
  
  .userIcon {
    width: 100px;
    height: 100px;
    margin-right: 20px;
    border: 2px solid #F4A950;
    border-radius: 50%;
    padding: 10px;
    background-color: #FFCC80;
  }
  
  .userInfo {
    flex-grow: 1;
    font-size: 16px;
    color: #333;
  }
  
  .userInfo h2 {
    padding-top: 40px;
    margin: 0;
    font-size: 20px;
    color: #F4A950;
  }
  
  .userAttributes {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px;
  }
  
  .userAttributes p {
    margin: 5px 10px;
    flex: 1;
  }
  
  .detailInfo {
    font-size: 16px;
    color: #333;
  }
  
  .detailInfo h3 {
    text-align: center;
    font-size: 18px;
    color: #F4A950;
    border-bottom: 2px solid #F4A950;
    padding-bottom: 15px;
    margin-bottom: 20px;
  }
  
  .detailInfo p {
    margin: 10px 0;
  }
  