.jobSearchPage {
    margin-top: 100px;
}

.jobSearchPage>.jobSearchContent {
    box-sizing: border-box;
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 100px;
    display: flex;
    justify-content: center;
}