.list {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

.list>h1 {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: -0.01em;
    color: #FFB22C;
}

.list>.each {
    list-style: none;
    padding: 0;
    margin: 20px 0;
    background-color: #f1f1f1;
    border-radius: 8px;
}

.list>.each>li {
    height: 50px;
    padding: 16px;
    border-bottom: 1px solid #e0e0e0;
    color: #555;
    font-family: 'Pretendard';
    font-size: 18px;
    letter-spacing: -0.01em;
    cursor: pointer;
}

.list>.each>li>p {
    display: inline;
}