.nursingPage>.content>.detailCard {
    width: 100%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 50px auto;
    position: relative;
}

.nursingPage>.content>.userHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #eee;
    padding: 10px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.nursingPage>.content>.userInfo {
    width: 100%;
    display: flex;
}

.nursingPage>.content>.userInfo>.userIcon {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
}

.nursingPage>.content>.userInfo>div {
    padding-top: 26px;
}

.nursingPage>.content>.userInfo>h2 {
    display: inline-block;
    margin: 0;
    padding: 0;
    font-size: 28px;
    color: #333;
}

.nursingPage>.content>.userAttributes {
    margin: 20px 0 0 0;
}

.nursingPage>.content>.userAttributes>ul {
    list-style: none;
    padding: 0;
    margin: 10px 0 0 0;
}

.nursingPage>.content>.userAttributes>li {
    width: 140px;
    display: inline-block;
    font-size: 18px;
    color: #555;
    text-align: center;
    margin-bottom: 5px;
}

.nursingPage>.content>.userAttributes>li>span {
    display: block;
}

.nursingPage>.content>.userAttributes>li>strong {
    font-size: 20px;
    color: #333;
}

.nursingPage>.content>.detailInfo>h3 {
    margin-top: 0;
    padding-bottom: 15px;
    text-align: center;
    font-size: 20px;
    color: #333;
    border-bottom: 1px solid #eee;
}

.nursingPage>.content>.detailInfo>.detailItem {
    font-size: 18px;
    color: #555;
    margin: 5px 0;
}

.nursingPage>.content>.detailInfo>strong {
    color: #000;
}

.nursingPage>.content>.detailItem {
    margin: auto;
    padding: 5px;
}

.nursingPage>.content>.detailItem>span {
    margin: 10px auto;
    display: block;
    width: 90%;
    height: 20px;
    text-align: center;
}

.nursingPage>.content>.detailItem>strong {
    margin: auto;
    display: block;
    width: 90%;
    height: 40px;
    padding-top: 11px;
    background-color: #eee;
    border-radius: 5px;
    text-align: center;
}

.nursingPage>.content>.detailCard>button {
    border-radius: 10px;
    background-color: #FFB22C;
    color: white;
    position: absolute;
    top: 30px;
    right: 30px;
    width: 100px;
    height: 50px;
    border: none;
    outline: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
}