.signupPage {
    margin-top: 100px;
}


.signupPage>.content>.signupForm {
    display: block;
    width: 400px;
    background-color: #FFB22C;
    border-radius: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.signupPage>.content>.signupForm>h1 {
    display: block;
    text-align: center;
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    color: white;
}

.signupPage>.content>.signupForm>input,
.signupPage>.content>.signupForm>button {
    box-sizing: border-box;
    display: block;
    margin-top: 10px;
    background-color: white;
    color: #FFB22C;
    border-radius: 20px;
    width: 300px;
    border: none;
    outline: none;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
}

.signupPage>.content>.signupForm>input {
    height: 50px;
    padding-left: 20px;
    color: black;
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
}

.signupPage>.content>.signupForm>input::placeholder {
    color: #FFB22C;
}

.signupPage>.content>.signupForm>button {
    height: 70px;
    color: #FFB22C;
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
}

.signupPage>.content>.signupForm>a, .signupPage>.content>.signupForm>p {
    display: inline;
}

.signupPage>.content>.signupForm>a {
    text-decoration: none;
    color: white;
}