.userPage {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.userPage>.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    border: 1px solid #FFB22C;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
    margin-bottom: 50px;
}

.userPage>.content>.userContent {
    width: 100%;
}

